@import '../../../styles/imports';

%sec {
	h6 {
		margin-bottom: 0.75rem;
	}
}

.container {
	background-color: #f2f2f2;
	display: flex;
	gap: 1rem;
	padding: 64px 24px;
	flex: 1;
	@include desktop {
		padding: 64px 128px;
	}
	.sections {
		display: flex;
		flex: 1;
		gap: 4rem;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;

		@include desktop {
			flex-direction: row;
		}
	}
	.rightSections {
		display: flex;
		gap: 5rem;
		flex-wrap: wrap;

		@extend %sec;
		a {
			margin-bottom: 0.5rem;
		}
	}
	.section {
		@extend %sec;
		display: flex;
		flex-direction: column;
	}
}
