@import '../../../styles/imports';
.container {
	padding: 128px 24px;
	display: flex;
	flex-direction: column;

	background-color: whitesmoke;
	align-items: center;
	justify-content: center;
	text-align: center;
	p {
		margin: 1rem 0;
	}

	@include desktop {
		padding: 128px 128px;
		p {
			font-size: 1.2rem;
			line-height: 1.6;
			max-width: 50vw;
		}
	}

	.user {
		display: flex;
		align-items: center;
		margin: 32px 0;
		img {
			height: 60px;
			width: 60px;
			border-radius: 999px;
			object-fit: cover;
		}
		.text {
			margin-left: 1rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			letter-spacing: 0.5px;

			h6 {
				line-height: 0;
				margin: 8px 0;
				color: $color-primary;
			}
			p {
				margin: 0;
				padding: 0;
			}
		}
	}
}
