@import '../../../styles/imports';

.container {
	display: flex;
	flex: 1;
	background-image: url('/hero.jpeg');
	background-position: center center;
	background-size: cover;
	.overlay {
		padding: 0 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		height: 100vh;
		background-color: rgba(black, 0.4);
		color: white;

		h1 {
			line-height: 1.2;
		}

		.h1Border {
			background-color: $color-primary;
			height: 0.5rem;
			width: 207px;
			margin-top: 16px;
			margin-bottom: 32px;
		}

		h3 {
			font-weight: 400;
			font-size: 1rem;
		}

		@include desktop {
			padding: 0 128px;
			h3 {
				font-size: 1.25rem;
				max-width: 1000px;
			}
		}
	}
}
