@import '../../styles/imports';

.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	max-width: 100vw;
	box-sizing: border-box;
	min-height: 100vh;

	h2 {
		margin-bottom: 16px;
		@include desktop {
			margin-bottom: 128px;
		}
	}

	.row {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@include desktop {
			flex-direction: row;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
	}

	.coltwo {
		display: flex;
		flex-direction: column;
		@include desktop {
			margin-top: 64px;
		}
	}
}
