@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800,800i,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import './imports';

html,
body {
	padding: 0;
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

p {
	font-size: 14px;
	margin: 0;
	padding: 0;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
}

// h1 {
// 	font-size: 2rem;
// 	font-weight: 300;
// 	margin: 0;
// 	padding: 0;
// 	line-height: 1.6;
// 	font-family: 'Montserrat', sans-serif;
// 	@include desktop {
// 		font-size: 3.75rem;
// 	}
// }

// h2 {
// 	font-size: 1.4rem;
// 	font-weight: 700;
// 	margin: 0;
// 	padding: 0;
// 	line-height: 1.6;
// 	font-family: 'Montserrat', sans-serif;

// 	@include desktop {
// 		font-size: 2.5rem;
// 	}
// }

// h3 {
// 	font-size: 1.3rem;
// 	font-weight: 500;
// 	margin: 0;
// 	padding: 0;
// 	line-height: 1.6;
// 	font-family: 'Montserrat', sans-serif;
// 	@include desktop {
// 		font-size: 1.5rem;
// 	}
// }

// h4 {
// 	font-size: 1.2rem;
// 	font-weight: 500;
// 	margin: 0;
// 	padding: 0;
// 	line-height: 1.6;
// 	font-family: 'Montserrat', sans-serif;
// 	@include desktop {
// 		font-size: 1.3rem;
// 	}
// }

// h5 {
// 	font-size: 1.1rem;
// 	font-weight: 400;
// 	margin: 0;
// 	padding: 0;
// 	line-height: 1.6;
// 	@include desktop {
// 		font-size: 1.5rem;
// 	}
// }

// h6 {
// 	font-size: 1rem;
// 	font-weight: 700;
// 	margin: 0;
// 	padding: 0;
// 	line-height: 1.6;
// }

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
